body{
    text-align: center;
    background-color:#3a3ac2;
}
img{
    width: 450px;
    border-radius: 20px;
    border: 10px;
    border-width: 3px;
    border-color:rgb(0, 0, 0);
}
p{
    font-size: x-large;
    color: coral;
}
h1{
    color: coral;
    font-size: 60px;
}
h2{
    color: coral;
    font-size: 30px;
}